<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media | Profile</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/feed.css">
  <link href="../css/profile.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    

    <a href="/feed">Feed</a>

    <div class="container bootstrap snippets bootdey">
      <div class="panel-body inf-content">
        <div class="row">
          <div class="col-md-6">
            <strong>Information</strong><br>
            <div class="table-responsive">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>
                          <img src="<%= user.imageUrl %>" alt="profile pic" width="200px">
                    </td>

                    <% if (String(user._id) == String(currentUser._id)) { %>
                     
                    <div class="card input">
                      <form method="post" enctype="multipart/form-data" 
                      action="/upload/<%= user._id %>">
                        <input type="file" accept="image/*" name="NAME">
                        <input type="submit" value="Upload Profile Pic!">
                      </form>
                    </div>
                    <% } %>
                 
                  </tr>
                  

                  <tr>
                    <td>
                      <strong>
                        <span class="glyphicon glyphicon-bookmark text-primary"></span>
                        Username
                      </strong>
                    </td>
                    <td class="text-primary">
                      <%= user.username %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                        Email
                      </strong>
                    </td>
                    <td class="text-primary">
                      <%= user.email %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                        created
                      </strong>
                    </td>
                    <td class="text-primary">
                      <%= user.createdAt %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                        Modified
                      </strong>
                    </td>
                    <td class="text-primary">
                      <%= user.updatedAt %>
                    </td>
                  </tr>
                </tbody>
              </table>

              

              <% if (user.posts !== undefined) { %>
                <h4>Posts:</h4>
                <div class="card-container">
                  <% for (var i = 0; i < user.posts.length; i++) { %>

                    <div class="card" style="margin-bottom: 1.2rem;">
                      <div class="flex-row">
                        <img src="<%= user.imageUrl %>" width="40px" height="40px" alt="profile pic"
                          style="margin: 1rem 0.3rem 1rem 1.2rem; border-radius: 20px">
                        <p class="name">
                          <%= user.username %>
                        </p>
                        <% if (String(user._id) == String(currentUser._id)) { %>
                  
                          <a href="/feed/<%= user.posts[i]._id %>/delete?_method=DELETE">delete</a>
                  
                        <% } %>
                      </div>
                      <p>
                        <%= user.posts[i].content %>
                      </p>
                      <img src="<%= user.posts[i].imageUrl %>" width="100%" alt="post photo">
                    </div>

                    <% } %>
                </div>
                <% } %>

                <% if (String(user._id) == String(currentUser._id)) { %>
                  <div class="control-group">
                    <div class="controls">
                      <a class="btn btn-secondary btn-lg active" role="button" href="<%=`/profile/${user._id}/edit`%>">
                        Edit User Information
                      </a>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <a class="btn btn-secondary btn-lg active" role="button"
                        href="<%=`/profile/${user._id}/delete?_method=DELETE`%>"
                        onclick="return confirm('Are you sure you want to delete this profile?')">
                        Delete Profile
                      </a>
                    </div>
                  </div>

                  <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>