<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media | Feed</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/feed.css">
    <script src="../js/script.js" defer></script>
    <script src="../js/lazyloading.js" defer></script>
</head>

<body>
    <% if (loggedIn) { %>

        <div class="card-container" id="target1">

            <div class="card" id="target" style="padding-left: 1.4rem; padding-top: 1rem; padding-bottom: 1rem;">
                <div class="flex-column">
                    <div class="flex-row">
                        <a href="/profile/<%= currentUser._id %>">
                            <img class="avatar" src="<%= currentUser.imageUrl %>" alt="profile picture">
                        </a>
                        <div class="search">
                            <form id="postForm" enctype="multipart/form-data" action="/upload/" method="post">
                                <input type="text" style="margin: 0; margin-bottom: 0.1rem;" class="input"
                                    name="content" id="content" placeholder="How are you today?"><br>
                        </div>
                    </div>
                    <div class="flex-row">
                        <input style="display: none;" type="file" accept="image/*" name="NAME" id="imageFile">
                        <a onclick="openWindow()" id="pic_upl_btn" style="margin-left: 3.7rem;">
                            <img id="pic_upl" src="../images/pic_icon.svg" alt="picture icon">
                        </a>
                        <a class="btn" id="btn" style="margin-bottom: 0.2rem; padding: 0.5rem;">Post</a>
                        </form>

                        <!-- MODAL-->
                        <div class="post-modal flex-column-index">

                            <div class="modal header-modal" style="background: red;">
                                <h2 style="text-align: center;">Create a post</h2>

                                <div class="flex-row-modal" style="background: pink;">
                                    <a style="width: 43.2px; height: 43.2px;" href="/profile/<%= currentUser._id %>">
                                        <img class="avatar" src="<%= currentUser.imageUrl %>"
                                            alt="user profile picture">
                                    </a>
                                    <p class="name" style="margin: 0;">
                                        <%= currentUser.username %>
                                    </p>
                                </div>

                            </div>

                            <div class="modal-content-input">
                               <!--  <input type="text" style="margin: 0;" class="modal-input"
                                    name="content" id="content" placeholder="How are you today?"> -->
                                
                                
                                    <textarea name="content" id="content"
                                 class="modal-input" placeholder="How are you today?"
                                 style="width: 500px; height: 100%; overflow-x: hidden"
                                ></textarea>

                            </div>

                            <div class="modal-img-input">
                                <input style="display: none;" type="file" accept="image/*" name="NAME" id="imageFile">

                                <div style="margin: 1rem;">
                                    <h4 style="margin: 0;">Add a picture to your post</h4>
                                </div>

                                <div class="x-wrapper" onclick="openWindow()" id="pic_upl_btn">
                                    <i title="Add Image" class="x"></i>

                                </div>
                              
                            </div>

                            <div>
                                <a class="btn" id="btn" style="margin-bottom: 0.2rem; padding: 0.5rem;">Post</a>

                            </div>

                        </div>
                        <!--  MODAL END-->

                    </div>
                </div>
            </div>

            <div id="target2">
                <% if (posts !==undefined) { %>
                    <% for (var i=0; i < posts.length; i++) { %>
                        <div class="card">
                            <div class="flex-row" id="card-header">
                                <a href="/profile/<%= posts[i].authorId._id %>">
                                    <img class="avatar" src="<%= posts[i].authorId.imageUrl %>"
                                        alt="user profile picture">
                                </a>
                                <a class="name" href="/profile/<%= posts[i].authorId._id %>">
                                    <%= posts[i].authorId.username %>
                                </a>
                            </div>
                            <% if (posts[i].content !==null) { %>

                                <p style="margin-left: 1.4rem;">
                                    <%= posts[i].content %>
                                </p>

                                <% } %>

                                    <% if (posts[i].imageUrl) { %>
                                        <img style="border-top: 1px solid rgba(0, 0, 0, 0.116);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.116);" src="<%= posts[i].imageUrl %>" width="100%"
                                            alt="post photo">
                                        <% } %>
                        </div>

                        <% } %>
                            <% } %>
            </div>

            <%} else {%>

                <h3>Please login to view this content.</h3>
                <a href="/">Index</a>

                <% } %>
</body>

</html>