<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media | Feed</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/feed.css">
    <script src="../js/script.js" defer></script>

</head>

<body>
    <% if (loggedIn) { %>

        <!-- <div class="header">
            <a id="favicon" href="/">Index</a>
            <a href="/profile/logout">Log Out</a>
            
        </div> -->

        
        <div class="card-container">
            
            <div class="card" id="target" style="padding-left: 1.4rem; padding-top: 1rem; padding-bottom: 1rem;">
                <div class="flex-column">
                    <div class="flex-row">
                        <a href="/profile/<%= currentUser._id %>">
                            <img class="avatar" src="<%= currentUser.imageUrl %>" alt="profile picture">
                        </a>
                        <div class="search">
                            <form id="postForm" enctype="multipart/form-data" action="/upload/" method="post">
                                <input type="text" style="margin: 0; margin-bottom: 0.1rem;" class="input" name="content" id="content" placeholder="How are you today?"><br>
                        </div>
                    </div>
                    <div class="flex-row">
                        <input style="display: none;" type="file" accept="image/*" name="NAME" id="imageFile">
                        <a onclick="openWindow()" id="pic_upl_btn" style="margin-left: 3.7rem;">
                            <img id="pic_upl" src="../images/pic_icon.svg" alt="picture icon">
                        </a>
                        <a class="btn" id="btn" style="margin-bottom: 0.2rem; padding: 0.5rem;">Post</a>
                    </form>
                    </div>
                </div>
            </div> 

<!--                 <div class="flex-row">
                    <div>
                        <a href="/profile/<%= currentUser._id %>">
                            <img src="<%= currentUser.imageUrl %>" alt="profile picture"
                            style="border-radius: 50px; 
                            object-fit: cover; width: 2.7rem; aspect-ratio: 1;">
                        </a>
                    </div>

                    <div>
                        <div class="search">
                            <form id="postForm" enctype="multipart/form-data" action="/upload/" method="post">
                                <input type="text" name="content" id="content" placeholder="Content"><br>
                                <input style="display: none;" type="file" accept="image/*" name="NAME" id="imageFile">
                                <a onclick="do2()" id="pic_upl_btn">
                                    <img id="pic_upl" src="../images/pic_icon.svg" alt="picture icon">
                                </a>
                                <a class="btn" id="btn">Post</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

            <% if (posts !==undefined) { %>
                <% for (var i=0; i < posts.length; i++) { %>
                    <div class="card">
                        <div class="flex-row" id="card-header">
                            <a href="/profile/<%= posts[i].authorId._id %>">
                            <img class="avatar" src="<%= posts[i].authorId.imageUrl %>" 
                            alt="user profile picture">                                
                            </a>
                            <a class="name" href="/profile/<%= posts[i].authorId._id %>">
                                <%= posts[i].authorId.username %>
                            </a>
                        </div>

                        <p style="margin-left: 1.4rem;">
                            <%= posts[i].content %>
                        </p>
                        <img style="border-top: 1px solid rgba(0, 0, 0, 0.116);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.116);" src="<%= posts[i].imageUrl %>" width="100%" alt="post photo">
                        
                    </div>

                <% } %>
            <% } %>
        </div>

    <%} else {%>

        <h3>Please login to view this content.</h3>
        <a href="/">Index</a>

    <% } %>
</body>

</html>