<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico">
  <script src="../js/nav.js" defer></script>
</head>


<body>
  <% if (loggedIn) { %>

    <header class="primary-header flex logo">
      <div>
        <h2>Social Media</h2>
      </div>
      
      <button title="Menu" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only"></span></button>
      <!-- <div id="search">
        <img style="width: 2rem; aspect-ratio: 1;" src="../images/plus.png" alt="">
        <input type="text">
      </div> -->
      <nav>
        <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">

          <li>
            <a title="Profile" href="<%=`/profile/${currentUser._id}`%>">
              <img src="<%= currentUser.imageUrl %>" alt="profile picture">
            </a>
          </li>

          <li>
            <a title="Add a new post" href="/feed/create">
              <img id="add" src="../images/plus.png" alt="add new post">
            </a>
          </li>

          <li>
            <a title="Logout" href="/profile/logout">
              <img id="logout" src="../images/logout.svg" alt="Logout">
            </a>
          </li>
    
        </ul>
      </nav>
    
    </header>



    <!-- <div class="header">
      <div class="header__right">
        <div class="header__info">
          <img src="<%= currentUser.imageUrl %>" alt="profile picture">
          <a href="<%=`/profile/${currentUser._id}`%>">
            <%= currentUser.username %>
          </a>
        </div>
        <a class="plus_icon"></a>
      </div>
    </div>

    <span>Loggen in as</span>
    <a href="<%=`/profile/${currentUser._id}`%>">
      <%= currentUser.username %>
    </a>

    <div id="nav">

      <a class="nav-item nav-link" href="<%=`/profile/${currentUser._id}`%>">Profile</a>
      <a class="nav-item nav-link" href="/profile/logout">Log out</a>
      <a class="nav-item nav-link" href="/feed">Feed</a> -->
      <%} else {%>
        <% } %>


          <% if (loggedIn) { %>
            <%} else {%>

              <% } %>

                <div class="flashes">
                  <% if (flashMessages) { %>
                    <% if (flashMessages.success) { %>
                      <div class="flash success">
                        <%= flashMessages.success %>
                      </div>
                      <% } else if (flashMessages.error) { %>
                        <div class="flash error">
                          <%= flashMessages.error %>
                        </div>
                        <% } %>
                          <% } %>
                </div>
    </div>
    </nav>
    </div>

    <%- body %>
  
</body>

</html>