
<body>
  <% if (loggedIn) { %>
      Loggen in as <a href="<%=`/profile/${currentUser._id}`%>"><%= currentUser.username %></a>
 
    <div id="nav">
            <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
              <a class="navbar-brand" href="/">Social Media Website </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                  
          
                 
                </div>
              </div>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
            <a class="nav-item nav-link" href="<%=`/profile/${currentUser._id}`%>">Profile</a>
            <a class="nav-item nav-link" href="/profile/logout">Log out</a>
            <a class="nav-item nav-link" href="/">Log In</a>
            <a class="nav-item nav-link" href="/feed">Feed</a> 
    <%} else {%>
      <% } %>


        <% if (loggedIn) { %>
          <%} else {%>

            <% } %>

              <div class="flashes">
                <% if (flashMessages) { %>
                  <% if (flashMessages.success) { %>
                    <div class="flash success">
                      <%= flashMessages.success %>
                    </div>
                    <% } else if (flashMessages.error) { %>
                      <div class="flash error">
                        <%= flashMessages.error %>
                      </div>
                      <% } %>
                        <% } %>
              </div>
              </div>
              </nav>
              </div>

              <%- body %>
                <!--  <div class="fixed-bottom">
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.4);">
        <a class="text-dark" href="/">Index</a>
      </div>
    </footer>
  </div> -->
</body>
