<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico">
  <script src="../js/nav.js" defer></script>
</head>


<body>
  <% if (loggedIn) { %>

    <header class="primary-header flex logo">
      <div>
        <img src="../images/plus.png" alt="plus" style="width: 40px;">
      </div>
      
      <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only"></span></button>

      <nav>
        <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
          <li class="active">
            <a href="/">
              <span aria-hidden="true">00</span>Social Media
            </a>
          </li>
    
          <li>
            <a href="/feed">
              <span aria-hidden="true">01</span>Feed
            </a>
          </li>
    
          <li>
            <a href="<%=`/profile/${currentUser._id}`%>">
              <span aria-hidden="true">02</span>Profile
            </a>
          </li>
    
          <li>
            <a href="#">
              <span aria-hidden="true">03</span>#
            </a>
          </li>
        </ul>
      </nav>
    
    </header>



    <!-- <div class="header">
      <div class="header__right">
        <div class="header__info">
          <img src="<%= currentUser.imageUrl %>" alt="profile picture">
          <a href="<%=`/profile/${currentUser._id}`%>">
            <%= currentUser.username %>
          </a>
        </div>
        <a class="plus_icon"></a>
      </div>
    </div>

    <span>Loggen in as</span>
    <a href="<%=`/profile/${currentUser._id}`%>">
      <%= currentUser.username %>
    </a>

    <div id="nav">

      <a class="nav-item nav-link" href="<%=`/profile/${currentUser._id}`%>">Profile</a>
      <a class="nav-item nav-link" href="/profile/logout">Log out</a>
      <a class="nav-item nav-link" href="/feed">Feed</a> -->
      <%} else {%>
        <% } %>


          <% if (loggedIn) { %>
            <%} else {%>

              <% } %>

                <div class="flashes">
                  <% if (flashMessages) { %>
                    <% if (flashMessages.success) { %>
                      <div class="flash success">
                        <%= flashMessages.success %>
                      </div>
                      <% } else if (flashMessages.error) { %>
                        <div class="flash error">
                          <%= flashMessages.error %>
                        </div>
                        <% } %>
                          <% } %>
                </div>
    </div>
    </nav>
    </div>

    <%- body %>
  
</body>

</html>